{
  "openapi": "3.0.0",
  "info": {
    "description": "API specification of Ticketing App.\n",
    "version": "1",
    "title": "Ticketing API"
  },
  "servers": [
    {
      "url": "http://ticketing.dev/api",
      "description": "Auth service."
    }
  ],
  "paths": {
    "/users/signup": {
      "post": {
        "tags": [
          "Ticketing API / Auth"
        ],
        "security": [
          {
            "JWT": []
          }
        ],
        "summary": "Create a new user\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "description": "An email of a user\n",
                    "type": "string",
                    "example": "support@ticketing.com"
                  },
                  "password": {
                    "description": "A unique password\n",
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Result set containing the single record\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                              "example": "770c1ffb-53d9-10c5-81af-2d4b78ad3404"
                            }
                          }
                        },
                        {
                          "$ref": "#/paths/~1users~1signup/post/requestBody/content/application~1json/schema"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1users~1signup/get/responses/400"
          }
        }
      },
      "get": {
        "tags": [
          "Ticketing API / Auth"
        ],
        "security": [
          {
            "JWT": []
          }
        ],
        "summary": "Get a list of users\n",
        "responses": {
          "200": {
            "description": "Result set containing array of users objects\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1users~1signup/post/responses/201/content/application~1json/schema/properties/result"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request could not be understood by the server due to malformed syntax\n"
          }
        }
      }
    }
  }
}

